@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Mandali&family=Ysabeau:wght@1;100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #eee;
}

a {
  color: inherit;
  text-decoration: none;
}

.primary {
  background-color: #8F0074;
  background-image: linear-gradient(315deg, #8F0074 0%, #F32A53 74%);
}
.primarytext{
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-color: #8F0074;
  background-image: linear-gradient(315deg, #8F0074 0%, #F32A53 74%);
}
.primaryfont{
  font-family: 'Mandali', sans-serif;
}
.headingfont{
  font-family: 'Bruno Ace', cursive;
}
.secondaryfont{
  font-family: 'Ysabeau', serif;
}
.hero{
  background-image: url("http://codestar.xyz/demo/Affiliate/assets/img/body-bg.png");
  background-size: cover;
  background-color: #eee;
}
.hoverbg{
  background-color: #fff;
}
.hoverbg:hover{
  background-color: #8F0074;
  background-image: linear-gradient(315deg, #8F0074 0%, #F32A53 74%);
  color: #fff;
}
.hoverbg:hover .primarytext{
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-color: #fff;
  background-image: linear-gradient(315deg, #fff 0%, #Fff 74%);
}
.contact{
  background-image: url("http://codestar.xyz/demo/Affiliate/assets/img/contact-us.jpg");
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.contact::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;    
  background: linear-gradient(to top, rgba(255, 0, 122, 0.7) 0%, rgba(142, 0, 116, 0.7) 100%);

}